* {
    margin: 0;
    padding: 0;
    /* Font family general */
    font-family: "Poppins", sans-serif;
    
  }

.space {
  padding: 50px;
}

.btn {
  border-radius: 3px;
  display: inline-block;
  padding: 20px 15px;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(255,255,255,0.3);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);

}

.btn-green {
  color: white;
  background-color: #3cc93f;
          &:hover {
            background-color: #37b839;

          }
          &:active {
            background-color: #29962a;
          }
}
form {
  margin: 0 auto;
  width: 300px;
}

a {
  cursor: url(../../Images/Icons/icopata.png), auto;

}