/* Boton de whatsapp */

.whatsapp {

    position: fixed;

    width: 60px;

    height: 60px;

    bottom: 14px;

    right: 40px;

    background-color: #25d366;

    border-radius: 50px;

    text-align: center;

    font-size: 40px;

    z-index: 100;

}

.whatsapp i {

    color: white;

}